#### Import libraries

In [ ]:
from datasets import load_dataset

#### Load dataset

In [2]:
dataset = load_dataset("gretelai/synthetic_text_to_sql")

In [3]:
dataset # we will work with['sql_prompt', 'sql_context', 'sql']

DatasetDict({
    train: Dataset({
        features: ['id', 'domain', 'domain_description', 'sql_complexity', 'sql_complexity_description', 'sql_task_type', 'sql_task_type_description', 'sql_prompt', 'sql_context', 'sql', 'sql_explanation'],
        num_rows: 100000
    })
    test: Dataset({
        features: ['id', 'domain', 'domain_description', 'sql_complexity', 'sql_complexity_description', 'sql_task_type', 'sql_task_type_description', 'sql_prompt', 'sql_context', 'sql', 'sql_explanation'],
        num_rows: 5851
    })
})

#### Dataset Stats

In [4]:
df_dataset = dataset['train'].to_pandas()

In [5]:
df_dataset.head(3)

,id,domain,domain_description,sql_complexity,sql_complexity_description,sql_task_type,sql_task_type_description,sql_prompt,sql_context,sql,sql_explanation
0,1,aerospace,"Aircraft manufacturing data, satellite deploym...",aggregation,"aggregation functions (COUNT, SUM, AVG, MIN, M...",analytics and reporting,"generating reports, dashboards, and analytical...",What are the top 5 suppliers by total value of...,"CREATE TABLE Suppliers (supplier_id INT, suppl...","SELECT supplier_name, SUM(total_value) as tota...",Filters the Suppliers table based on year 2020...
1,2,aerospace,"Aircraft manufacturing data, satellite deploym...",basic SQL,basic SQL with a simple select statement,analytics and reporting,"generating reports, dashboards, and analytical...",Count the number of aircraft produced by compa...,"CREATE TABLE aircraft (id INT, model VARCHAR(5...",SELECT COUNT(*) FROM aircraft WHERE manufactur...,This query counts the number of records in the...
2,3,defense industry,"Defense contract data, military equipment main...",basic SQL,basic SQL with a simple select statement,analytics and reporting,"generating reports, dashboards, and analytical...",Get the average monthly maintenance cost of na...,"CREATE TABLE NavalVessels (id INT, name VARCHA...",SELECT AVG(cost) FROM NavalVessels WHERE EXTRA...,This query calculates the average monthly main...

In [6]:
df_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 11 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   id                          100000 non-null  int32
 1   domain                      100000 non-null  object
 2   domain_description          100000 non-null  object
 3   sql_complexity              100000 non-null  object
 4   sql_complexity_description  100000 non-null  object
 5   sql_task_type               100000 non-null  object
 6   sql_task_type_description   100000 non-null  object
 7   sql_prompt                  100000 non-null  object
 8   sql_context                 100000 non-null  object
 9   sql                         100000 non-null  object
 10  sql_explanation             100000 non-null  object
dtypes: int32(1), object(10)
memory usage: 8.0+ MB

In [7]:
dataset.save_to_disk('text_to_sql_data') # save dataset to disk

Saving the dataset (1/1 shards): 100%|██████████| 100000/100000 [00:00<00:00, 632252.17 examples/s]
Saving the dataset (1/1 shards): 100%|██████████| 5851/5851 [00:00<00:00, 221956.77 examples/s]

In [8]:
df_dataset_filtered = df_dataset[['sql_prompt', 'sql_context', 'sql']]

#### Check Average Encoder and Decoder Input Length to determine appx hyperparameter for training

In [9]:
prompt_total = 0
context_total = 0
sql_total = 0
for idx in df_dataset.index:
    prompt = df_dataset_filtered['sql_prompt'][idx]
    context = df_dataset_filtered['sql_context'][idx]
    sql = df_dataset_filtered['sql'][idx]

    prompt_count = len(prompt.split())
    context_count = len(context.split())
    sql_count = len(sql.split())

    prompt_total+=prompt_count
    context_total+=context_count
    sql_total+=sql_count

    if idx%1000==0:
        if idx>1:
            print("total = ",idx)
            print("prompt_total average = ",prompt_total/idx)
            print("context_total average = ",context_total/idx)
            print("input_total average = ",(prompt_total+context_total)/idx)
            print("sql_total average = ",sql_total/idx)
            print()
            print()

total =  1000
prompt_total average =  13.717
context_total average =  33.156
input_total average =  46.873
sql_total average =  15.786


total =  2000
prompt_total average =  13.759
context_total average =  33.341
input_total average =  47.1
sql_total average =  15.699


total =  3000
prompt_total average =  13.830333333333334
context_total average =  33.57966666666667
input_total average =  47.41
sql_total average =  15.75


total =  4000
prompt_total average =  13.8275
context_total average =  33.659
input_total average =  47.4865
sql_total average =  15.7595


total =  5000
prompt_total average =  13.8652
context_total average =  33.6044
input_total average =  47.4696
sql_total average =  15.799


total =  6000
prompt_total average =  13.860666666666667
context_total average =  33.384166666666665
input_total average =  47.24483333333333
sql_total average =  15.726333333333333


total =  7000
prompt_total average =  13.866428571428571
context_total average =  33.09385714285714
input_total average =  46.96028571428572
sql_total average =  15.655142857142858


total =  8000
prompt_total average =  13.883
context_total average =  32.95975
input_total average =  46.84275
sql_total average =  15.687875


total =  9000
prompt_total average =  13.858888888888888
context_total average =  32.84388888888889
input_total average =  46.702777777777776
sql_total average =  15.631


total =  10000
prompt_total average =  13.8701
context_total average =  32.8384
input_total average =  46.7085
sql_total average =  15.6468


total =  11000
prompt_total average =  13.884636363636364
context_total average =  32.819
input_total average =  46.70363636363636
sql_total average =  15.681545454545455


total =  12000
prompt_total average =  13.900166666666667
context_total average =  32.790166666666664
input_total average =  46.690333333333335
sql_total average =  15.688


total =  13000
prompt_total average =  13.89576923076923
context_total average =  32.82923076923077
input_total average =  46.725
sql_total average =  15.686076923076923


total =  14000
prompt_total average =  13.914
context_total average =  32.8765
input_total average =  46.7905
sql_total average =  15.704285714285714


total =  15000
prompt_total average =  13.926666666666666
context_total average =  32.86253333333333
input_total average =  46.7892
sql_total average =  15.707733333333334


total =  16000
prompt_total average =  13.9239375
context_total average =  32.8035625
input_total average =  46.7275
sql_total average =  15.69125


total =  17000
prompt_total average =  13.910470588235293
context_total average =  32.87158823529412
input_total average =  46.78205882352941
sql_total average =  15.680352941176471


total =  18000
prompt_total average =  13.90911111111111
context_total average =  32.86494444444445
input_total average =  46.774055555555556
sql_total average =  15.691277777777778


total =  19000
prompt_total average =  13.90278947368421
context_total average =  32.889631578947366
input_total average =  46.79242105263158
sql_total average =  15.672842105263157


total =  20000
prompt_total average =  13.90205
context_total average =  32.8693
input_total average =  46.77135
sql_total average =  15.689


total =  21000
prompt_total average =  13.896
context_total average =  32.87980952380953
input_total average =  46.77580952380952
sql_total average =  15.691428571428572


total =  22000
prompt_total average =  13.893454545454546
context_total average =  32.917272727272724
input_total average =  46.81072727272727
sql_total average =  15.700909090909091


total =  23000
prompt_total average =  13.885826086956522
context_total average =  32.91495652173913
input_total average =  46.800782608695656
sql_total average =  15.693173913043479


total =  24000
prompt_total average =  13.879041666666666
context_total average =  32.90495833333333
input_total average =  46.784
sql_total average =  15.688583333333334


total =  25000
prompt_total average =  13.88392
context_total average =  32.87168
input_total average =  46.7556
sql_total average =  15.67152


total =  26000
prompt_total average =  13.883538461538462
context_total average =  32.882576923076925
input_total average =  46.76611538461538
sql_total average =  15.661846153846154


total =  27000
prompt_total average =  13.88774074074074
context_total average =  32.90940740740741
input_total average =  46.797148148148146
sql_total average =  15.652074074074074


total =  28000
prompt_total average =  13.885
context_total average =  32.89635714285714
input_total average =  46.78135714285714
sql_total average =  15.649892857142857


total =  29000
prompt_total average =  13.89003448275862
context_total average =  32.87289655172414
input_total average =  46.76293103448276
sql_total average =  15.65196551724138


total =  30000
prompt_total average =  13.888933333333334
context_total average =  32.87826666666667
input_total average =  46.7672
sql_total average =  15.652066666666666


total =  31000
prompt_total average =  13.889483870967743
context_total average =  32.87725806451613
input_total average =  46.76674193548387
sql_total average =  15.652516129032257


total =  32000
prompt_total average =  13.88978125
context_total average =  32.9073125
input_total average =  46.79709375
sql_total average =  15.65840625


total =  33000
prompt_total average =  13.887
context_total average =  32.91657575757576
input_total average =  46.80357575757576
sql_total average =  15.664333333333333


total =  34000
prompt_total average =  13.884764705882352
context_total average =  32.943970588235295
input_total average =  46.82873529411765
sql_total average =  15.67320588235294


total =  35000
prompt_total average =  13.885342857142858
context_total average =  32.920857142857145
input_total average =  46.8062
sql_total average =  15.6788


total =  36000
prompt_total average =  13.885277777777778
context_total average =  32.91875
input_total average =  46.804027777777776
sql_total average =  15.678472222222222


total =  37000
prompt_total average =  13.887
context_total average =  32.94005405405405
input_total average =  46.82705405405405
sql_total average =  15.678513513513513


total =  38000
prompt_total average =  13.887973684210527
context_total average =  32.947526315789474
input_total average =  46.8355
sql_total average =  15.684657894736842


total =  39000
prompt_total average =  13.89374358974359
context_total average =  32.95225641025641
input_total average =  46.846
sql_total average =  15.68746153846154


total =  40000
prompt_total average =  13.890925
context_total average =  32.948875
input_total average =  46.8398
sql_total average =  15.674325


total =  41000
prompt_total average =  13.890634146341464
context_total average =  32.939926829268295
input_total average =  46.83056097560976
sql_total average =  15.67


total =  42000
prompt_total average =  13.888452380952382
context_total average =  32.95473809523809
input_total average =  46.84319047619048
sql_total average =  15.66804761904762


total =  43000
prompt_total average =  13.888906976744186
context_total average =  32.94218604651163
input_total average =  46.83109302325581
sql_total average =  15.67132558139535


total =  44000
prompt_total average =  13.886681818181819
context_total average =  32.91493181818182
input_total average =  46.80161363636363
sql_total average =  15.665568181818182


total =  45000
prompt_total average =  13.8918
context_total average =  32.92297777777778
input_total average =  46.81477777777778
sql_total average =  15.671466666666667


total =  46000
prompt_total average =  13.894565217391305
context_total average =  32.916304347826085
input_total average =  46.81086956521739
sql_total average =  15.675521739130435


total =  47000
prompt_total average =  13.896765957446808
context_total average =  32.928063829787234
input_total average =  46.824829787234044
sql_total average =  15.674851063829788


total =  48000
prompt_total average =  13.892645833333333
context_total average =  32.912708333333335
input_total average =  46.80535416666667
sql_total average =  15.664854166666666


total =  49000
prompt_total average =  13.893571428571429
context_total average =  32.91377551020408
input_total average =  46.80734693877551
sql_total average =  15.672326530612246


total =  50000
prompt_total average =  13.89252
context_total average =  32.91348
input_total average =  46.806
sql_total average =  15.66992


total =  51000
prompt_total average =  13.892392156862746
context_total average =  32.91658823529412
input_total average =  46.80898039215686
sql_total average =  15.667803921568627


total =  52000
prompt_total average =  13.88901923076923
context_total average =  32.93803846153846
input_total average =  46.82705769230769
sql_total average =  15.66823076923077


total =  53000
prompt_total average =  13.889622641509433
context_total average =  32.94430188679245
input_total average =  46.833924528301885
sql_total average =  15.663339622641509


total =  54000
prompt_total average =  13.889351851851853
context_total average =  32.931592592592594
input_total average =  46.82094444444444
sql_total average =  15.660425925925926


total =  55000
prompt_total average =  13.886618181818182
context_total average =  32.92372727272727
input_total average =  46.810345454545455
sql_total average =  15.660618181818181


total =  56000
prompt_total average =  13.887571428571428
context_total average =  32.92232142857143
input_total average =  46.809892857142856
sql_total average =  15.663285714285715


total =  57000
prompt_total average =  13.885877192982456
context_total average =  32.92389473684211
input_total average =  46.809771929824564
sql_total average =  15.665526315789474


total =  58000
prompt_total average =  13.885706896551724
context_total average =  32.94127586206896
input_total average =  46.82698275862069
sql_total average =  15.664620689655173


total =  59000
prompt_total average =  13.887186440677967
context_total average =  32.935610169491525
input_total average =  46.82279661016949
sql_total average =  15.67479661016949


total =  60000
prompt_total average =  13.888366666666666
context_total average =  32.942083333333336
input_total average =  46.83045
sql_total average =  15.6764


total =  61000
prompt_total average =  13.892163934426229
context_total average =  32.93480327868853
input_total average =  46.826967213114756
sql_total average =  15.677639344262294


total =  62000
prompt_total average =  13.894387096774194
context_total average =  32.92529032258064
input_total average =  46.81967741935484
sql_total average =  15.685854838709677


total =  63000
prompt_total average =  13.89468253968254
context_total average =  32.93590476190476
input_total average =  46.8305873015873
sql_total average =  15.68468253968254


total =  64000
prompt_total average =  13.89578125
context_total average =  32.936375
input_total average =  46.83215625
sql_total average =  15.68578125


total =  65000
prompt_total average =  13.894646153846153
context_total average =  32.93793846153846
input_total average =  46.83258461538462
sql_total average =  15.684553846153847


total =  66000
prompt_total average =  13.892924242424243
context_total average =  32.95216666666666
input_total average =  46.84509090909091
sql_total average =  15.681318181818181


total =  67000
prompt_total average =  13.892179104477611
context_total average =  32.96411940298508
input_total average =  46.85629850746269
sql_total average =  15.687492537313434


total =  68000
prompt_total average =  13.891691176470589
context_total average =  32.95995588235294
input_total average =  46.85164705882353
sql_total average =  15.683235294117647


total =  69000
prompt_total average =  13.88940579710145
context_total average =  32.956014492753624
input_total average =  46.84542028985507
sql_total average =  15.68627536231884


total =  70000
prompt_total average =  13.888757142857143
context_total average =  32.94068571428571
input_total average =  46.82944285714286
sql_total average =  15.688071428571428


total =  71000
prompt_total average =  13.888323943661971
context_total average =  32.95102816901409
input_total average =  46.83935211267605
sql_total average =  15.686140845070423


total =  72000
prompt_total average =  13.891791666666666
context_total average =  32.95379166666667
input_total average =  46.84558333333333
sql_total average =  15.6915


total =  73000
prompt_total average =  13.889383561643836
context_total average =  32.95017808219178
input_total average =  46.839561643835616
sql_total average =  15.6913698630137


total =  74000
prompt_total average =  13.891594594594595
context_total average =  32.953851351351354
input_total average =  46.84544594594595
sql_total average =  15.696567567567568


total =  75000
prompt_total average =  13.89012
context_total average =  32.95728
input_total average =  46.8474
sql_total average =  15.696093333333334


total =  76000
prompt_total average =  13.892434210526316
context_total average =  32.957881578947365
input_total average =  46.85031578947368
sql_total average =  15.694973684210526


total =  77000
prompt_total average =  13.894194805194806
context_total average =  32.962
input_total average =  46.856194805194804
sql_total average =  15.697987012987014


total =  78000
prompt_total average =  13.894871794871795
context_total average =  32.963884615384615
input_total average =  46.85875641025641
sql_total average =  15.698358974358975


total =  79000
prompt_total average =  13.894620253164558
context_total average =  32.960354430379745
input_total average =  46.854974683544306
sql_total average =  15.697569620253164


total =  80000
prompt_total average =  13.8934125
context_total average =  32.954625
input_total average =  46.8480375
sql_total average =  15.69355


total =  81000
prompt_total average =  13.892913580246914
context_total average =  32.952123456790126
input_total average =  46.84503703703704
sql_total average =  15.692666666666666


total =  82000
prompt_total average =  13.893341463414634
context_total average =  32.9554756097561
input_total average =  46.84881707317073
sql_total average =  15.694426829268293


total =  83000
prompt_total average =  13.894590361445783
context_total average =  32.94089156626506
input_total average =  46.835481927710845
sql_total average =  15.69232530120482


total =  84000
prompt_total average =  13.897190476190476
context_total average =  32.95171428571429
input_total average =  46.84890476190476
sql_total average =  15.697559523809524


total =  85000
prompt_total average =  13.898235294117647
context_total average =  32.949176470588235
input_total average =  46.84741176470588
sql_total average =  15.696964705882353


total =  86000
prompt_total average =  13.898046511627907
context_total average =  32.94888372093023
input_total average =  46.84693023255814
sql_total average =  15.698116279069767


total =  87000
prompt_total average =  13.898816091954023
context_total average =  32.95116091954023
input_total average =  46.84997701149425
sql_total average =  15.701528735632184


total =  88000
prompt_total average =  13.898647727272728
context_total average =  32.958090909090906
input_total average =  46.85673863636364
sql_total average =  15.701193181818182


total =  89000
prompt_total average =  13.897426966292135
context_total average =  32.950168539325844
input_total average =  46.847595505617974
sql_total average =  15.696898876404495


total =  90000
prompt_total average =  13.895177777777779
context_total average =  32.95825555555555
input_total average =  46.853433333333335
sql_total average =  15.695933333333333


total =  91000
prompt_total average =  13.89367032967033
context_total average =  32.952835164835165
input_total average =  46.84650549450549
sql_total average =  15.690329670329671


total =  92000
prompt_total average =  13.895184782608696
context_total average =  32.96208695652174
input_total average =  46.85727173913043
sql_total average =  15.688717391304348


total =  93000
prompt_total average =  13.894602150537635
context_total average =  32.96737634408602
input_total average =  46.861978494623656
sql_total average =  15.692494623655914


total =  94000
prompt_total average =  13.896510638297872
context_total average =  32.96841489361702
input_total average =  46.86492553191489
sql_total average =  15.692702127659574


total =  95000
prompt_total average =  13.895642105263159
context_total average =  32.96395789473684
input_total average =  46.8596
sql_total average =  15.697757894736842


total =  96000
prompt_total average =  13.897427083333334
context_total average =  32.96163541666667
input_total average =  46.8590625
sql_total average =  15.701260416666667


total =  97000
prompt_total average =  13.898123711340206
context_total average =  32.95405154639175
input_total average =  46.85217525773196
sql_total average =  15.70060824742268


total =  98000
prompt_total average =  13.896530612244899
context_total average =  32.948112244897956
input_total average =  46.84464285714286
sql_total average =  15.701061224489797


total =  99000
prompt_total average =  13.897171717171718
context_total average =  32.948040404040405
input_total average =  46.84521212121212
sql_total average =  15.704222222222223